@model List<ExtraDto>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Ekstralar Yönetimi /</span> Ekstra
    </h4>


    <div class="card">
        <div class="table-responsive text-nowrap m-5">

            <a class="btn btn-success mb-3" asp-controller="Extra" asp-action="Add">
                Ekstra Ekle <i class="bx bx-plus"></i>
            </a>

            <table class="table table-bordered" id="portfoliosTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Resim</th>
                        <th>Başlık</th>
                        <th>Fiyatı</th>
                        <th>Oluşturan</th>
                        <th>Durum</th>
                        <th>İşlemler</th>


                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr name="@item.ExtraID">
                            <td> <img style="height:3em; width:3em;" class="mb-3" src="~/images/@item.Image.FileName" alt="@item.Name" /></td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>@item.CreatedBy</td>
                            <td>@(item.IsDeleted ? "Aktif Değil" : "Aktif")</td>
                            <td>

                                <a class="btn btn-primary btn-sm" data-id="@item.ExtraID" asp-controller="Extra" asp-action="Update" asp-route-extraId="@item.ExtraID">Güncelle<i class="bx bxs-edit"></i></a>

                                <a class="btn btn-danger btn-sm" data-id="@item.ExtraID" asp-controller="Extra" asp-action="Delete" asp-route-extraId="@item.ExtraID">Sil<i class="bx bx-minus-circle"></i></a>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/js/portfolioIndex.js" type="application/ecmascript"></script>
}
